/* General page setup */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #e2e8ff;
    color: #1a1a1a;
}

header h1, .infonupp {
    border-radius: 20px;
}

.infonupp, .failinimi, header h1{
    color:rgb(56, 39, 117);
}

.infonupp, .failinimi {
    font;
}



header h1 {
    margin: auto;
    max-width: 900px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
    font-size: x-large;
    font-weight: lighter;
    text-align: center;
    font-variant:small-caps;
}

.infonupp {
    text-align: left;
    border: none;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.07);
    background-color:#ffffff;
    display: grid;
    grid-template-columns: 1fr 2fr;
        text-decoration: none;
    color: inherit;
}

.failinimi {
    hyphens:auto;
    overflow-wrap: anywhere;
    display: flex;
    text-align: center;
    justify-content:center;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    background-color:#f4f3ff;
    border-radius: 10px;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.07);
    font-family: monospace;
}

.kokkuvõte {
    padding-left: 15px;
    margin: auto;
    text-align: left;
    margin: 0;
    align-self: center;
    justify-self: start;
    color: #28008c;
}

.infonupp:hover {
    background-color:#f4f4f4;
}
.infonupp:hover .failinimi {
    background-color: #e0dcff;
}

.ruudustik {
    max-width: 900px;
    margin: 0 auto;

    display: grid;

    /* Create as many columns as fit */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    gap: 12px;
}
